@import url('https://fonts.googleapis.com/css?family=Rubik:400,700,900&display=swap');

html,body{
    width:100%;
    height: 100%;
    margin:0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Rubik,"Rubik Black","Rubik Medium", "Rubik Bold", sans-serif !important;
}
section{
    margin:0;
}

.landing--page{
    height:100%;
    width:100%;
    background: white;
    position:relative;
}

.landing--page--section1{
    background: url('/section1bg.svg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height:100vh;
}

.landing--page--section2{
    background:#181D26;
    position: relative;
    height:100%;
}

.navbar{
    position: absolute;
    width:100%;
    z-index:1;
    height:55px;
    display: flex;
}

.navbar--links{
    height:100%;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.navbar--img{
    height:100%;
    width:50%;
}

.navbar--links ul {
    list-style-type: none;
    padding: 0;
    align-items: center;
    display: flex;
    margin-right: 50px;
    margin-top:45px;
}

.navbar--links ul li {
    display: inline;
    color:#D9D9D9;
    margin: 0 20px 0 20px;
    font-weight: 700;
    font-size:18px;
}

.lines--img{
    position: relative;
    top:-150px;
    left:135px;
    width:420px;
}

.section1--left--container{
    position: absolute;
    left:135px;
    top:33%;
}
.section1--right--container{
    position: absolute;
    top:27%;
    right:100px;
    width:40%;
}

.controller-img{
    width:100%;
}

.section1--left--container h1{
    margin:0;
}

.company--name{
    color:#00A3AB;
    font-size: 90px;
    margin: 0;
    font-weight:700;
}

.company--motto{
    color:#D9D9D9;
    font-size: 70px;
    margin: 0;
    font-weight:700;
    margin-top:5px;
}

.short--description{
    color:#D9D9D9;
    font-size:21px;
    margin-top: 20px;
    width:650px;
    font-weight:400;
}

.general--button{
    background: #009198;
    border-radius: 5px;
    border:0;
    color:white;
}

.explore--button{
    margin-top:20px;
    width:150px;
    height:45px;
    font-size:19px;
    font-weight: 700;
}

.social--container{
    position: fixed;
    z-index: 1;
    right:0;
    top:80%;
    display: flex;
}

.social--images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.social--images img{
    margin: 7px 27px 7px 0;
    width:24px;
}


.social--line{
    width:9px;
    height:91%;
    margin-top:4px;
    background: #00A3AB;
    position: absolute;
    right:0;
}

@media screen and (max-width: 1650px) {
    .section1--left--container{
        left:80px;
    }
    .section1--right--container{
        top:27%;
        right:80px;
        width:37%;
    }
    .lines--img{
        top:-130px;
        left:80px;
        width:355px;
    }
    .company--name{
        font-size: 75px;
    }
    .company--motto{
        font-size: 55px;
    }
    .short--description{
        font-size:19px;
    }
    .explore--button{
        width:140px;
        height:42px;
        font-size:18px;
    }
    .navbar--links ul li {
        font-size:17px;
    }
}

@media screen and (max-width: 1300px) {
    .section1--left--container{
        left:55px;
        top:33%;
    }
    .section1--right--container{
        top:32%;
        right:55px;
        width:35%;
    }
    .lines--img{
        top:-90px;
        left:55px;
        width:285px;
    }
    .company--name{
        font-size: 60px;
    }
    .company--motto{
        font-size: 45px;
    }
    .short--description{
        font-size:17px;
        width:530px;
    }
    .explore--button{
        width:130px;
        height:40px;
        font-size:17px;
    }
}

@media screen and (max-width: 1050px) {
    .section1--left--container{
        left:55px;
        top:36%;
    }
    .section1--right--container{
        top:32%;
        right:55px;
        width:40%;
    }
    .lines--img{
        top:-65px;
        left:55px;
        width:220px;
    }
    .company--name{
        font-size: 45px;
    }
    .company--motto{
        font-size: 30px;
    }
    .short--description{
        font-size:16px;
        width:400px;
    }
    .navbar--links ul li {
        font-size:15px;
    }
}

@media screen and (max-width: 870px) {
    .short--description{
        font-size:16px;
        width:300px;
    }
}

@media screen and (max-width: 750px) {
    .section1--left--container{
        left:35px;
        top:30%;
    }
    .section1--right--container{
        top:40%;
        right:40px;
        width:50%;
    }
    .lines--img{
        top:-65px;
        left:35px;
        width:220px;
    }
    .company--name{
        font-size: 40px;
    }
    .company--motto{
        font-size: 25px;
    }
    .short--description{
        font-size:16px;
        width:300px;
    }
}

@media screen and (max-width: 650px) {
    .section1--left--container{
        left:25px;
        top:15%;
    }
    .section1--right--container{
        top:56%;
        right:20px;
        width:78%;
    }
    .navbar--img{
        display: none;
    }
    .company--name{
        font-size: 45px;
        width:90%;
    }
    .company--motto{
        font-size: 27px;
        width:90%;
    }
    .short--description{
        font-size:17px;
        width:90%;
    }
    .navbar--links ul li {
        font-size:15px;
    }
    .navbar--links ul {
        align-items: flex-start;
        display: flex;
        margin-top:45px;
        margin-left:10px;
    }
    .navbar--links{
        width: 100%;
        align-items: flex-start;
    }
    .explore--button{
        margin-top: 14px;
    }
}


.section2--title{
    color:#D9D9D9;
    padding:75px 0 45px 0;
    text-align: center;
    margin: -1px 0 0 0;
    font-size: 33px;
}

.section2--content{
    display: flex;
    justify-content: space-around;
    text-align:center;
    padding: 0 6% 70px 6%;
}

.section--box{
    color:#D9D9D9;
    width:27%;
    text-align:center;
}

.title--line{
    width:60px;
    height:4px;
    background:#00A3AB;
    display: inline-block;
}

.section--box--img{
    width:65px;
    margin: 10px 0 10px 0;
}

.section--box h2{
    margin: 20px 0 12px 0;
    color:#00A3AB;
}

.section--box p{
    margin: 25px 0 20px 0;
}

.section--box img{
    margin: 15px 0 20px 0;
}

.landing--page--section3{
    background:#1A2029;
    position: relative;
    height:100%;
}

.section3--content{
    display: flex;
    padding: 0 8% 0 8%;
}

.section3--left--container{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3--right--container{
    width:50%;
    margin: 200px 0 200px 0;
}

.section3--right--container p{
    margin-left:50px;
    color:#D9D9D9;
}

.section3--right--container h1{
    margin:10px 0 10px 50px;
    color:#D9D9D9;
    font-size:30px;
}

.title--color{
    color:#00A3AB !important;
}

.section3--image{
    width:80%;
}